body{
  background-color: rgb(59, 59, 59);
}

.actions-row{
  width: 200px;
}

.expenses-table{
  width: 70%;
}

.form-container{
  width: 200px;
}

.expenses-table__row .btn-success{
  display: none;
}

.expenses-table__row--editable{
  background-color: aqua;
}

.expenses-table__row--editable .btn-success{
  display: inline-block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}